.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
}
.title {
    font-size: var(--headline-2);
    color: var(--primary-dark);
    line-height: var(--line-height);
    font-weight: 400;
}
.items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}