.search {
    transition: var(--transition);   
}

@media screen and (hover: hover) {
    .search:hover {
        transition: var(--transition);   
        cursor: pointer;
        opacity: 0.7;
    }
}